div.sp-pipeline {
    width: 80%;
    margin: 1em auto 0;

    display: flex;
    flex-direction: column;

    --sp-pipeline-top-radius: .75em;
}

@media (max-width: 800px) {
    div.sp-pipeline {
        width: 100%;
        --sp-pipeline-top-radius: 0;
    }
}

div.sp-pipe-gap {
    cursor: pointer;

    font-size: 1.1em;
    padding: .25em 0;

    background-color: white;
    text-align: center;

    background-color: #DDF;

    &:hover {
        opacity: .7;
    }

    &:active {
        opacity: .85;
    }
}