div.sp-string-view-content {
    background-color: var(--bg-color);
    border: solid 1px #666;

    font-family: monospace;
    font-size: 1em;
    padding: .2em .3em;

    min-height: 1.9em;
    
    white-space: pre-wrap;
    line-height: 1.4em;

    overflow-x: auto;
}