:root {
    --sp-string-bg-color: oklab(95% 0.072 0.036);
    --sp-bytes-bg-color: oklab(95% -0.072 -0.036);
    --bg-color: #FCFCFC;
}

body {
    background-color: var(--bg-color);
    font-family: sans-serif;
}

noscript p {
    text-align: center;
    font-size: 1.1rem;
    margin: 1rem;
}