div.sp-pipe-catalog {
    background-color: #FFC;
}

div.sp-pipe-catalog-item {
    cursor: pointer;

    &:hover {
        background-color: #FF0;
    }

    &.sp-selected {
        font-weight: bold;
        background-color: #FF0;
    }
}